* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  background: #fff;
  color: #111;
}
button {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #f7f7f7;
}
